.MyInput {
	height: 50px;
	font-size: 21px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	display: inline-block;
	min-height: 30px;
	width: 100%;
	border-radius: 20px;	
	border-width: 0;
	outline: 1px solid gray;
	padding-left: 40px;
}

