.container {
	width: 100%;
	overflow: auto;
	height: 100%;
	position: relative;
	padding-top: 100px;
}

.Chat {
	position: relative;
	max-width: 600px;
	padding-bottom: 60px;
	margin: 0 auto;
}


.Chat__form {
	display: flex;
	z-index: 999;
	align-items: center;
	position: fixed;
padding-left: 10px;
	bottom: 20px;
	width: 40%;
}

.Chat__form.dark input:first-child {
	background-color: #212121;
	color: white;
}

.Chat__form.dark input:last-child {
	background-color: #8774E1;
}

