.Contact {
	font-family: sans-serif;
	margin: 5px 10px 0 0;
	transition: all 0.2s;
	max-width: 510px;
	padding: 10px;
	border-radius: 20px;
	display: flex;
	position: relative;
}

.Contact img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.Contact__text {
	display: flex;
	padding-left: 10px;
	flex-direction: column;
}
.Contact__text span:first-child {
	padding-top: 5px;
	font-size: 18px;
	font-weight: bold;
}

.Contact__text span:last-child {
	font-size: 17px;
	margin-top: 13px;
}

.Contact__time {
position: absolute;
right: 30px;
top: 10px;
}
.Contact:hover {
	transition: 0.5s all;
	background-color: rgba(226, 221, 221, 0.418);
}
.Contact.dark {
	color: #AAA598;
}
.active {
	background-color: #3390EC;	color: white;
	}
	
	.active:hover {
		background-color: #3390EC;
	}
	.active.dark {
		background-color: #8774E1;
		color: white;
	}