@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
.Login {
	position: absolute;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
background-color: #1F304B;
width: 100%;
height: 100%;
}

img {
	max-width: 300px;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	color: white;
	font-weight: 600;
	margin-bottom: 10px;
}
h5 {
	font-size: 22px;
	font-family: 'Allura', cursive;
	color: aqua;
}