*{
	padding: 0;
	margin: 0;
	border: 0;
	transition: 0.5s background-color;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,
body{
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* ///////////////////////////////////////////////// */

body {
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj5BqwwSRdOODqHZ3kqP2FTdVYtLwm7AArHg&usqp=CAU");	
}


body.dark {
	background-image: url("https://w0.peakpx.com/wallpaper/299/582/HD-wallpaper-fathers-stuff-ultra-aero-patterns-dark-black-glasses-pattern-male-crown-father-stuff-mustache-hats-necktie.jpg");
}

.wrapper {
	display: grid;
	grid-template-areas:
	 'left right';
	grid-template-rows: 100vh;
	grid-template-columns: 39% 61%;

}

.LeftSide {
	grid-area: left;
	background-color: white;
	overflow: auto;
}
.RightSide {
	position: relative;
	grid-area: right;
}

.dark {
	background-color: #212121;
}

.light {
	background-color: white;
}